
  <div   class="{{sizeGrid}} {{wowValue}} fadeInDown " data-wow-duration="{{productObject.data[index].dataDuration}}ms">
               
                <div class="hpanel stats">
                  
                    <div class="panel-body img-responsive">
                      
                        <!--<div class="left-center-right">
                          <div>{{productObject.data[index].counter}} </div>
                             <div>PRCAT {{productObject.data[index].category}} </div>

                              <div>URLCAT {{menuCategory.id}} </div>  
                          <div> <a ng-click="count_cart('reset')"> X </a></div>
                       </div> -->

                       <div class="wrap">
                          <div class="left">
                              left
                          </div>
                          <div class="right">
                              right
                          </div>
                          <div class="center">
                              center sdv dg sdb sdfbh sdfhfdhh h dfh
                          </div>
                      </div>

                         <div class="row visible-md visible-lg">
                              <img class="img-responsive" src="{{'image_download/' + productObject.data[index].img}}">
                        </div>
                      
                        <div class="row visible-xs visible-sm">
                            <div class="col-xs-5 col-md-3 col-lg-1 vcenter">
                              <img class="img-responsive" src="{{'image_download/' + productObject.data[index].img}}">
                            </div>
                            <div class="col-xs-5 col-md-7 col-lg-9 vcenter" >
                                <!--<div><br><br><br><br></div> -->
                               <h4>{{productObject.data[index].name}}</h4>
                               <h5 class="product_price">{{productObject.data[index].price}} / {{productObject.data[index].per}}</h5>
                               <br>  
                               Available Stock: {{ productObject.data[index].availablestock }}
                                  <br>
                                   {{ left }}
                                  <br>

                              <br>{{productObject.data[index].subname}}
                              <br>

                                    <i ng-init="count=0;" ng-click="count_cart('minus')" class="counter-button glyphicon glyphicon glyphicon-minus fa-2x" ></i>
                                       <span class="cart-quantity"> {{productObject.data[index].counter}} </span>                                       
                                   <i ng-init="count=0;" ng-click="count_cart('plus')" class="counter-button glyphicon glyphicon glyphicon-plus fa-2x"></i>
                            
                            </div>



                        </div>

                    </div>
                   

            <!-- on large device -->
                    <div align="center" class="panel-footer mh-45 hidden-xs hidden-sm">
                       <div style="background-color:#ffffff">
                        {{productObject.data[index].name}}
                               <div class="product_price">{{productObject.data[index].price}} / {{productObject.data[index].per}}</div>
                               
                               <div class="cart-hidden" >
                                
                                  Available Stock: {{ productObject.data[index].availablestock }}
                                  <br>
                                    {{ left }}
                                  <br>
                                  <br>
                                  <i ng-init="count=0;" ng-click="count_cart('minus')" class="counter-button glyphicon glyphicon glyphicon-minus fa-2x" ></i>
                                       <span class="cart-quantity" ng-class="{'Will left: 0':'green'}[left]"> {{productObject.data[index].counter}} </span>                                       
                                   <i ng-init="count=0;" ng-click="count_cart('plus')" class="counter-button glyphicon glyphicon glyphicon-plus fa-2x"></i>
                               </div>
                        </div>
                    </div>


                </div>
            
            </div>



 