
   

 <div class="hpanel" id="fixedhpanel"  >
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i> 
                </div>
            </a>

            <!--<div id="hbreadcrumb" class="pull-right">
                
            </div> -->
              <div id="hbreadcrumb" class="pull-left">
 
                <ol class="hbreadcrumb left-center-right"  >
                    <li>  <span class="total-cart-counter label label-success" ng-cloak ng-click="openCart({});">   
                      {{fetchMenuName(menuCategory.id,product.data)}} 
                      <!--{{menuCategory.title}} :  {{counterGlobal}} -->
                    </span>  </li> &nbsp;

                     <li>  <span class="total-cart-counter label label-success" ng-cloak ng-click="totalCart({});">   <i class="glyphicon glyphicon glyphicon-shopping-cart fa-1x" ></i> {{fetchTotalItemsPrice(productSaveIndexTotal)}}   </span>  </li> &nbsp;

                      <li>  <span class="total-cart-counter label label-danger" ng-cloak ng-click="clearCart({});"> 
                        <i class="glyphicon glyphicon glyphicon-remove-sign fa-1x" ></i></span>  </li>


                  
                 
                </ol>
            </div>   
            <!--
               <div class="row">

                     <div class="col-md-4 ">
                           <span class="total-cart-counter label label-success" ng-cloak ng-click="openCart({});"> {{menuCategory.title}} :  {{counterGlobal}}
                           
                      </div>
                      <div class="col-md-4">
                               <span class="total-cart-counter label label-success" ng-cloak ng-click="totalCart({});">   Total Item(s):   </span>
                      </div>
                      <div class="col-md-4 ">
                              <span class="total-cart-counter label label-danger" ng-cloak ng-click="clearCart({});">  X </span>
                      </div>
                    -->
               <!--
                          <div class="left">
                             <span class="total-cart-counter label label-success" ng-cloak ng-click="openCart({});"> {{menuCategory.title}} :  {{counterGlobal}}
                          </div>
                          <div class="right">
                               <span class="total-cart-counter label label-danger" ng-cloak ng-click="clearCart({});">  X </span>
                          </div>
                          <div class="center">
                              <span class="total-cart-counter label label-success" ng-cloak ng-click="totalCart({});">   Total Item(s):   </span>
                          </div>
                -->
                 </div>

        </div>
    </div>



 


 <div class="content animate-panel">
         <div style="margin-bottom: 47px;">  </div>

          <!-- for centering vertical
          <div class="row">
               <div class="col-xs-5 col-md-3 col-lg-1 vcenter">
                    <div style="height:10em;border:1px solid #000">Big</div>
                    </div>
                    <div class="col-xs-5 col-md-7 col-lg-9 vcenter">
                    <div style="height:3em;border:1px solid #F00">Small</div>
                </div>
          </div> -->


        <div class="row">


           <product-cart style="overflow: visible;" ng-repeat="pr in product.data" product-object="product" number-object="number" index="{{$index}}" parent="{{$parent}}" wow-value="wow" size-grid="col-md-3" menu-category="menuCategory">
          </product-cart>

        </div>        
    </div>





       