
  <div  class="{{sizeGrid}} {{wowValue}} fadeInDown" data-wow-duration="{{productObject.data[index].dataDuration}}ms">
               
        <div class="hpanel stats" >
                
                    <div class="panel-body img-responsive">
                      
                        <!--<div class="left-center-right">
                          <div>{{productObject.data[index].counter}} </div>
                             <div>PRCAT {{productObject.data[index].category}} </div>

                              <div>URLCAT {{menuCategory.id}} </div>  
                          <div> <a ng-click="count_cart('reset')"> X </a></div>
                       </div> -->

                       <div class="wrap visible-md visible-lg">
                          <div class="left">
                             {{productObject.data[index].counter}}
                          </div>
                          <div class="right">
                              <a ng-click="count_cart('reset')"> X </a>
                          </div>
                          <div class="center" ng-if="modalDisplay != 'true'">
                              PRCAT {{productObject.data[index].category}} 
                               URLCAT {{menuCategory.id}} 
                          </div>
                      </div>

                         <div class="row visible-md visible-lg" 
                               ng-class="{'maxminheight110': modalDisplay == 'true', 
                                      'maxminheight225': modalDisplay == null}"
                               >
                              <img dynamic-position-image class="img-responsive" src="{{'image_download/' + productObject.data[index].img}}">
                        </div>
                      
                        <div class="row visible-xs visible-sm" >
                            <div class="col-md-3 col-lg-1 vcenter" 

                            ng-class="{'col-xs-3': modalDisplay == 'true', 
                                      'col-xs-5': modalDisplay == null}"
                            style="padding:0"
                            >
                                  <img style="width:100%;height:auto;" src="{{'image_download/' + productObject.data[index].img}}">
                            </div>
                            <div class="col-md-7 col-lg-9 vcenter" 
                               ng-class="{'col-xs-7': modalDisplay == 'true', 
                                      'col-xs-5': modalDisplay == null}"
                               style="padding:0"
                            >
                                    <!--<div><br><br><br><br></div> -->
                                   <h4>{{productObject.data[index].name}}</h4>

                                   <h5 class="product_price"
                                       ng-if="modalDisplay != 'true'"

                                   >{{productObject.data[index].price}} / {{productObject.data[index].per}}</h5>
                                   <div ng-if="modalDisplay != 'true'">  
                                       Available Stock: {{ productObject.data[index].availablestock }}
                                   </div> 

                                      <br ng-if="modalDisplay != 'true'">
                                       {{ left }}
                                      <br ng-if="modalDisplay != 'true'">

                                   <div ng-if="modalDisplay != 'true'">
                                      {{productObject.data[index].subname}}
                                   </div>
                                   <div>
                                        <i ng-init="count=0;" ng-click="count_cart('minus')" class="counter-button glyphicon glyphicon glyphicon-minus fa-2x" ></i>
                                           <span class="cart-quantity"> {{productObject.data[index].counter}} </span>                                       
                                       <i ng-init="count=0;" ng-click="count_cart('plus')" class="counter-button glyphicon glyphicon glyphicon-plus fa-2x"></i>
                                   </div>                   
                            </div>
                        </div>
                    </div>
                   

            <!-- on large device -->
                    <div align="center" class="panel-footer mh-45 hidden-xs hidden-sm">
                       <div style="background-color:#ffffff">
                        {{productObject.data[index].name}}
                               <div class="product_price">{{productObject.data[index].price}} / {{productObject.data[index].per}}</div>
                               
                               <div class="cart-hidden" >
                                
                                  Available Stock: {{ productObject.data[index].availablestock }}
                                  <br>
                                    {{ left }}
                                  <br>
                                  <br>
                                  <i ng-init="count=0;" ng-click="count_cart('minus')" class="counter-button glyphicon glyphicon glyphicon-minus fa-2x" ></i>
                                       <span class="cart-quantity" ng-class="{'Will left: 0':'green'}[left]"> {{productObject.data[index].counter}} </span>                                       
                                   <i ng-init="count=0;" ng-click="count_cart('plus')" class="counter-button glyphicon glyphicon glyphicon-plus fa-2x"></i>
                               </div>
                        </div>
                    </div>


         </div>
            
</div>



 