 <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right">
                
            </div>
             <div id="hbreadcrumb" class="pull-left">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="index.html">Categories</a></li>
                    <li class="active">
                        <span>Specials</span>
                    </li>
                 
                </ol>
            </div>
            
           
        </div>
    </div>


    <div class="content animate-panel">
         <div style="margin-bottom: 25px;">
             
         </div>
        <div class="row">
             
           <product-cart  ng-repeat="pr in product" product-object="product" number-object="number" index="{{$index}}" parent="{{$parent}}" >
          </product-cart>

 
        </div>
       
           
           
    </div>
