  <div class="modal-header">
             <a ng-click="save();"> <i class="glyphicon glyphicon-arrow-left fa-3x" ></i></a>  
     </div>

  <br>
  <div class="modal-body">
	    
    
       
      <div ng-repeat="(key,pSI) in productSaveIndexTotal">

         <div style="clear:both; margin-left:15px;" class="row">
            <span class="total-cart-counter label label-success" ng-cloak">   
                   {{fetchMenuName(key,pSI.data)}} 
           </span>
        </div>

        <br>
        

         <product-cart style="overflow: visible;" ng-repeat="pr in pSI.data" product-object="pSI" number-object="number" index="{{$index}}" parent="{{$parent}}"  total-cart="true" size-grid="col-md-2" modal-display="true" menu-category="menuCategory">
            
          </product-cart>


          <div style="clear:both;">
           <br>
          </div>
         <!-- <product-cart style="overflow: visible;" ng-repeat="pr in productSaveIndex[14].data" product-object="productSaveIndex[14]" number-object="number" index="{{$index}}" parent="{{$parent}}"  total-cart="true" size-grid="col-md-2" menu-category="menuCategory">
          </product-cart>
        

          <product-cart style="overflow: visible;" ng-repeat="pr in productSaveIndex[13].data" product-object="productSaveIndex[13]" number-object="number" index="{{$index}}" parent="{{$parent}}"  total-cart="true" size-grid="col-md-2" menu-category="menuCategory">
          </product-cart> -->

       </div>

	  <div style="clear:both"></div>    

  </div>
  &nbsp;
