
.loader-image {
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 250px;
      height: 250px;
      margin: auto;
}

 

.svgpath {
  fill: rgba(145,220,90,0);
  stroke: #EB0D8B;
  stroke-width: 2px;
  stroke-dasharray: 1000;
  stroke-linecap: round;
  z-index: 2;
}

.svgbg {
  fill: rgb(252, 207, 233);
  z-index: 1;
 }

#playload {
  animation: dash 2.5s reverse ease-in-out infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 2000;
  }
}